body{
    background-color: white;
}

#title{
    color: white;
    font-size: 4em;
}

.fa-sun-o{
    color: white;
    font-size: 4em;
}

p{
     color: black;
}

#weatherDetails{
    color: white;
    font-size: 1em;
}